<footer class="bg-azul text-light py-4 m-0 mt-5 p-0">
    <div class="container">
        <div class="row d-flex flex-col flex-lg-row justify-content-around m-0">
            <div class="col-12 col-sm-6 col-lg-2 text-center"><a href="" class="btn text-light">Centro de Acopio</a></div>
            <div class="col-12 col-sm-6 col-lg-2 text-center"><a href="" class="btn text-light">Guías</a></div>
            <div class="col-12 col-sm-6 col-lg-2 text-center"><a href="" class="btn text-light">Tips</a></div>
            <div class="col-12 col-sm-6 col-lg-2 text-center"><a href="" class="btn text-light">Ayuda</a></div>
            <div class="col-12 col-sm-6 col-lg-2 text-center"><a href="" class="btn text-light">Contacto</a></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 text-center mt-3">
                <p>© 2022 Universidad Veracruzana. Todos los derechos reservados. </p>
            </div>
        </div>
    </div>
</footer>