<app-navbar></app-navbar>
<div class="container">
    <div class="row vh-100 d-flex flex-row align-items-center">
        <div class="col-12 col-lg-5 offset-0 offset-lg-2">
            <small>ResidUV</small>
            <h1>Centros de Acopio</h1>
            <p>Será un trabajo arduo y especial, sin embargo lo que lograremos juntos no se comparará, les dejamos unos
                tips para cumplir esta labor. </p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class=" col-lg-8">
            <h2>Listado de Centros de Acopio</h2>
            <section class="my-5">
                <a href="https://www.uv.mx/cosustenta/files/2019/10/Centros-de-Acopio-de-RSU.pdf"><h3>Región Xalapa</h3></a>
                <p>Dirección Centro de Acopio de la Región</p>
            </section>
            <hr>
            <section class="my-5">
                <a href=""><h3>Región Coatzacoalcos-Minatitlán</h3></a>
                <p>Dirección Centro de Acopio de la Región</p>
            </section>
            <hr>
            <section class="my-5">
                <a href=""><h3>Región Córdoba-Orizaba</h3></a>
                <p>Dirección Centro de Acopio de la Región</p>
            </section>
            <hr>
            <section class="my-5">
                <a href=""><h3>Región Poza Rica-Tuxpan</h3></a>
                <p>Dirección Centro de Acopio de la Región</p>
            </section>
            <hr>
            <section class="my-5">
                <a href=""><h3>Región Veracruz</h3></a>
                <p>Dirección Centro de Acopio de la Región</p>
            </section>

        </div>
    </div>
</div>
<app-footer></app-footer>