<section class="container vh-100 d-flex flex-row">
    <section class="row justify-content-center mt-auto mb-auto">
        <section class="col-5 d-none d-lg-block">
            <section class="row">
                <img src="https://eminus.uv.mx/eminus4/assets/img/bg/bg-8.jpg">
            </section>

        </section>
        <section class="col-10 col-lg-5 offset-lg-1 offset-md-0 d-flex align-items-center">
            <section class="row">
                <h1>ResidUV | Iniciar Sesión</h1>
                <small>Inicia sesión y haz el cambio</small>
                <form>
                    <div class="form-group mt-3">
                        <label for="exampleInputEmail1">Matrícula</label>
                        <input type="email" class="form-control mt-2" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="user.usernameOrEmail" name="usernameOrEmail">
                    </div>
                    <div class="form-group mt-3">
                        <label for="exampleInputPassword1">Contraseña</label>
                        <input type="password" class="form-control mt-2" id="exampleInputPassword1" [(ngModel)]="user.password" name="password">
                    </div>
                    <button type="submit" (click)="login()" class="btn btn-primary mt-3">Iniciar Sesión</button>
                </form>
                <a routerLink="/signin" class="mt-4">¿Aún no te registras?</a>
                <a href="" class="mt-2">¿Olvidaste tu contraseña?</a>
            </section>
            
        </section>
    </section>
</section>