<app-navbar></app-navbar>
<div class="container">
    <div class="row vh-100 d-flex flex-row align-items-center">
        <div class="col-12 col-md-5 offset-0 offset-md-2">
            <small>ResidUV</small>
            <h1>Guías y Herramientas</h1>
            <p>Será un trabajo arduo y especial, sin embargo lo que lograremos juntos no se comparará, les dejamos unos
                tips para cumplir esta labor. </p>
        </div>
    </div>
    <div class="row d-flex flex-row align-items-center justify-content-center px-3 px-md-0">
        <div class="col-12 col-md-8 card">
            <div class="card-body">
                <h5 class="card-title">Guía institucional para la gestión integral de residuos sólidos urbanos en las dependencias y entidades académicas de la Universidad Veracruzana.</h5>
                <a href="#" class="btn btn-primary mt-2">Ver más</a>
            </div>
        </div>
        <div class="col-12 col-md-8 card mt-4">
            <div class="card-body">
                <h5 class="card-title">Guía para la elaboración de programas de manejo de residuos sólidos urbanos en la Universidad Veracruzana.</h5>
                <a href="#" class="btn btn-primary mt-2">Ver más</a>
            </div>
        </div>
        <div class="col-12 col-md-8 card mt-4">
            <div class="card-body">
                <h5 class="card-title">Guía para diagnosticar la situación actual de la gestión de los residuos sólidos urbanos en la Universidad Veracruzana.</h5>
                <a href="#" class="btn btn-primary mt-2">Ver más</a>
            </div>
        </div>
        <div class="col-12 col-md-8 card mt-4">
            <div class="card-body">
                <h5 class="card-title">Señalética descargable para el etiquetado de contenedores diferenciados de residuos sólidos urbanos (Inorgánicos no reciclables).</h5>
                <a href="#" class="btn btn-primary mt-2">Ver más</a>
            </div>
        </div>
        <div class="col-12 col-md-8 card mt-4">
            <div class="card-body">
                <h5 class="card-title">Señalética descargable para el etiquetado de contenedores diferenciados de residuos sólidos urbanos (Inorgánicos reciclables).</h5>
                <a href="#" class="btn btn-primary mt-2">Ver más</a>
            </div>
        </div>
        <div class="col-12 col-md-8 card mt-4">
            <div class="card-body">
                <h5 class="card-title">Señalética descargable para el etiquetado de contenedores diferenciados de residuos sólidos urbanos (Orgánicos).</h5>
                <a href="#" class="btn btn-primary mt-2">Ver más</a>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>