<app-navbar></app-navbar>
<div class="row portada d-none d-md-block p-0 m-0">
    <div class="col-12 d-flex justify-content-center">
        <img src="https://img.freepik.com/premium-vector/collection-diverse-people-clean-up-garbage-man-woman-children-volunteers-cleaning-from-wastes_547662-791.jpg?w=2000" alt="" class="mt-5">
    </div>
</div>

<div class="container">
    <div class="row justify-content-between mymt p-3">
        <div class="col-12 col-md-3 mt-2 mt-md-0 btn btn-blue text-light justify-content-center" type="button"
            data-bs-toggle="modal" data-bs-target="#quees" style="height: 50px; display:flex; align-items:center;">
            ¿Qué es ResidUV?
        </div>
        <div class="col-12 col-md-3 mt-2 mt-md-0 btn btn-blue text-light justify-content-center" type="button"
            data-bs-toggle="modal" data-bs-target="#porquees"
            style="height: 50px; display:flex; align-items:center;">
            ¿Por qué ResidUV?
        </div>
        <div class="col-12 col-md-3 mt-2 mt-md-0 btn btn-blue text-light justify-content-center" type="button"
            data-bs-toggle="modal" data-bs-target="#participan"
            style="height: 50px; display:flex; align-items:center;">
            ¿Quiénes participan?
        </div>
    </div>

    <div class="row mymt">
        <div class="col-12 col-lg-6 mb-5">
            <h2>Reto Conoce tus Residuos</h2>
            <hr>
            <p>Orgullosamente un proyecto de la Universidad Veracruzana, en bien de nuestro hogar el planeta Tierra.</p>
            <div class="form-group">
                <label class="pb-3">Residuo</label>
                <select class="form-control" [(ngModel)]="contribucion.residuosID">
                    <option type="number" *ngFor="let residuo of lista"  value="{{residuo.residuosID}}">{{residuo.tipo}}</option>
                </select>
                <label for="exampleFormControlSelect1" class="py-3">Cantidad de Desechos</label>
                <input type="number" class="form-control" id="exampleFormControlSelect1" placeholder="0" [(ngModel)]="contribucion.cantidad">
                <button class="btn btn-blue text-light mt-4" (click)="guardar()">Registrar</button>
            </div>
        </div>
    </div>  
</div>

<section>
    <div class="modal show" id="quees" tabindex="-1" aria-labelledby="queesLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="queesLabel">¿Qué es ResidUV?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ResidUV es un equipo que se encarga de gestionar los residuos en las cinco regiones de la
                    Universidad Veracruzana. Ya sea gestionar la informacion, recoleccion de residuos reciclables y redireccion a centros de
                    acopio.<br><br>
                    ResidUV es una plataforma web, dirigida a toda la comunidad universitaria, en la que se integran los
                    elementos necesarios para impulsar a la Universidad Veracruzana hacia una gestión integral de los residuos.
                </div>
            </div>
        </div>
    </div>
    <div class="modal show" id="porquees" tabindex="-1" aria-labelledby="porqueesLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="porqueesLabel">¿Por qué ResidUV?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ResidUV se genera de la palabra "Residuo" y la abreviacion de "Universidad Veracruzana", queremos que los
                    estudiantes se identifiquen con nuestro proyecto, que participen por intentar hacer un cambio en nuestra
                    Universidad
                </div>
            </div>
        </div>
    </div>
    <div class="modal show" id="participan" tabindex="-1" aria-labelledby="participanLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="participan">¿Quiénes participan?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    El equipo organizador esta conformado por chicos de las cinco regiones Xalapa, Orizaba-Cordoba, Coatza-Mina,
                    Poza Rica-Tuxpan y Veracruz
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>